body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

.cursor-pointer {
  cursor: pointer
}

/*Estilos Header*/
.header-button-position {
  top:30px;
  right:30px;
}

.left-language {
  background-color: #dddb0a;
  padding-left: 0.6em;
  padding-right: 0.3em;
  border-top-left-radius: 0.7em;
  border-bottom-left-radius:0.7em;
  color: white;
  font-size: 0.9em;
}
.right-language {
  background-color: white;
  padding-left: 0.3em;
  padding-right: 0.6em;
  border-top-right-radius: 0.7em;
  border-bottom-right-radius:0.7em;
  color: #16351e;
  font-size: 0.9em;
}
.back-button {
  width: 90px;
  height: 90px;
}
.back-button-format {
  font-size: 0.7em;
  color : green;
}
/* Fin Estilos Header*/

/*Estilos Footer*/
.footer-position {
  top:-12px;
  left:0px;
  right:0px;
}

.footer-dividir{
  border: 1px solid #00b74a;
  margin-top: 0.7em;
}
/*Fin Estilos Footer*/


/*Responsive*/
@media (min-width:320px){
  .logo {
    margin-top: 25px;
    width: 50% !important;
  }
}
@media (min-width:768px){
  .logo{
    margin-top: 20px;
    width: 20% !important;
  }
}
@media only screen and (min-device-width: 960px){
  .logo {
    margin-top: 20px;
    width: 20%;
  }
}
@media (orientation: landscape) {
  .logo{
    margin-top: 10px;
    width: 20% !important;
  }
}


/* ESTILO CAROUSEL */
.carousel-indicators > li {
  cursor: pointer;
  background-color: white;
  border-radius: 50%;
  padding: 8px;
  margin: 5px;
}

.carousel-indicators > li.active {
  opacity: 0.15;
}

.production-active {
  position: relative;
  background-color: transparent;
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 50%;
  border: 2px solid yellow;
}

.production-active-inline {
  background-color: yellow;
  width: 70%;
  height: 70%;
  border-radius: 50%;
  position: absolute;
  transform: translate(23%, 20%);
}

.production-inactive {
  background-color: transparent;
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 50%;
  border: 2px solid rgb(181, 175, 175);
}